<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121891083314-1tms6n3sfdjojkgu5u1i3uf66vnqfb2u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121891083314-1tms6n3sfdjojkgu5u1i3uf66vnqfb2u</string>
	<key>API_KEY</key>
	<string>AIzaSyAMbshx18-WTWJyU82p6rUflKIL8BjJkoI</string>
	<key>GCM_SENDER_ID</key>
	<string>121891083314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymManager</string>
	<key>PROJECT_ID</key>
	<string>gym-manager-edc5d</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-manager-edc5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121891083314:ios:213239cc5b3c4897f2d82b</string>
</dict>
</plist>